@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background-color: rgb(227, 227, 227);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  background-color: rgb(227, 227, 227);
}